.sidebar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  z-index: 1000;
  background-color: #083c52;
  transition: transform 0.3s ease-in-out;
  overflow: visible;
}

.sidebar-wrapper.collapsed {
  transform: translateX(-100%);
}

.sidebar-marker {
  position: fixed;
  top: 31px;
  left: 0;
  font-size: 35px;
  background-color: #e9c7b5;
  color: #0d415a;
  padding: 10px 15px;
  cursor: pointer;
  z-index: 1001;
  border-radius: 5px;
}

.toggle-button {
  cursor: pointer;
  font-size: 30px;
}

.sidebar-toggle-left {
  position: absolute;
  top: 31px;
  right: -10px;
  background-color: #e9c7b5;
  color: #0d415a;
  padding: 10px;
  font-size: 24px;
  cursor: pointer;
  border-radius: 5px;
  z-index: 1002;
}

.sidebar-toggle-left:hover {
  background-color: #c78970;
  transition: background-color 0.2s ease-in-out;
}