.Topbar{
    background-color: #E3C6B5;
    width: 100%;
    height: 340px;
}

.Topbar-tittle{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    vertical-align: top;
}

.artigos-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    background-color: white;
}
.support-title {
    font-weight: bold;
    margin-bottom: 50px;
  }
.article-list {
    display: flex;
    gap: 100px;
  }
  
  .article-card {
    width: 400px;
    height: 300px;
    font-size: large;
    border: none;
    background-color: #e5e5e5;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
  }
  
  .article-card:hover {
    transform: translateY(-5px);
    cursor: pointer;
    background-color: #e5e5e5;
  }

.criar-ticket{
  position: fixed;
  bottom: 40px;
  right:  40px;
  padding: 20px 25px;
  background-color: #114B6E;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 30px;
  font-weight: 400;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}