.menu-claro-e {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .menu-claro-e .div {
    background-color: #ffffff;
    height: 1080px;
    overflow: hidden;
    position: relative;
    width: 1920px;
  }
  
  .menu-claro-e .overlap {
    background-color: #114a6e;
    height: 100%;
    left: 0;
    position: absolute;
    top: -9px;
    width: 365px;
  }
  
  .menu-claro-e .overlap-group {
    background-color: #e3c6b5;
    height: 100px;
    left: 0;
    position: absolute;
    top: 311px;
    width: 365px;
  }
  
  .menu-claro-e .calendar-solid {
    height: 50px;
    left: 80px;
    position: absolute;
    top: 22px;
    width: 44px;
  }
  
  .menu-claro-e .text-wrapper {
    color: #001d36;
    font-family: "Roboto-ExtraBold", Helvetica;
    font-size: 40px;
    font-weight: 800;
    height: 47px;
    left: 143px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 29px;
    white-space: nowrap;
  }
  
  .menu-claro-e .overlap-2 {
    background-color: #e3c6b5;
    height: 100px;
    left: 0;
    position: absolute;
    top: 698px;
    width: 365px;
  }
  
  .menu-claro-e .text-wrapper-2 {
    color: #001d36;
    font-family: "Roboto-ExtraBold", Helvetica;
    font-size: 40px;
    font-weight: 800;
    left: 149px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 25px;
    white-space: nowrap;
  }
  
  .menu-claro-e .headset-solid {
    height: 55px;
    left: 72px;
    position: absolute;
    top: 22px;
    width: 55px;
  }
  
  .menu-claro-e .overlap-3 {
    background-color: #e3c6b5;
    height: 100px;
    left: 0;
    position: absolute;
    top: 825px;
    width: 365px;
  }
  
  .menu-claro-e .text-wrapper-3 {
    color: #001d36;
    font-family: "Roboto-ExtraBold", Helvetica;
    font-size: 40px;
    font-weight: 800;
    left: 168px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 29px;
    white-space: nowrap;
  }
  
  .menu-claro-e .user-solid {
    height: 50px;
    left: 99px;
    position: absolute;
    top: 27px;
    width: 44px;
  }
  
  .menu-claro-e .overlap-4 {
    background-color: #e3c6b5;
    background-size: 100% 100%;
    height: 100px;
    left: 0;
    position: absolute;
    top: 182px;
    width: 365px;
  }
  
  .menu-claro-e .text-wrapper-4 {
    color: #001d36;
    font-family: "Roboto-ExtraBold", Helvetica;
    font-size: 40px;
    font-weight: 800;
    height: 47px;
    left: 165px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 27px;
    white-space: nowrap;
  }
  
  .menu-claro-e .bars-solid {
    height: 50px;
    left: 99px;
    position: absolute;
    top: 24px;
    width: 44px;
  }
  
  .menu-claro-e .overlap-5 {
    background-color: #e3c6b5;
    height: 100px;
    left: 0;
    position: absolute;
    top: 440px;
    width: 365px;
  }
  
  .menu-claro-e .text-wrapper-5 {
    color: #001d36;
    font-family: "Roboto-ExtraBold", Helvetica;
    font-size: 40px;
    font-weight: 800;
    left: 89px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 27px;
    white-space: nowrap;
  }
  
  .menu-claro-e .clipboard-solid {
    height: 50px;
    left: 36px;
    position: absolute;
    top: 25px;
    width: 38px;
  }
  
  .menu-claro-e .overlap-6 {
    background-color: #e3c6b5;
    height: 100px;
    left: 0;
    position: absolute;
    top: 569px;
    width: 365px;
  }
  
  .menu-claro-e .text-wrapper-6 {
    color: #001d36;
    font-family: "Roboto-ExtraBold", Helvetica;
    font-size: 40px;
    font-weight: 800;
    left: 170px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 27px;
    white-space: nowrap;
  }
  
  .menu-claro-e .vector {
    height: 50px;
    left: 98px;
    position: absolute;
    top: 22px;
    width: 53px;
  }
  
  .menu-claro-e .arrow-left-solid {
    height: 50px;
    left: 276px;
    position: absolute;
    top: 34px;
    width: 44px;
  }
  
  .menu-claro-e .logo-meetpoint {
    height: 45px;
    left: 68px;
    position: absolute;
    top: 95%;
    width: 259px;
  }
  
  .menu-claro-e .img {
    height: 50px;
    left: 31px;
    position: absolute;
    top: 34px;
    width: 67px;
  }
  
  .menu-claro-e .arrow-left-solid-2 {
    height: 50px;
    left: -1546px;
    position: absolute;
    top: -824px;
    width: 44px;
  }
  
  .menu-claro-e .overlap-group-2 {
    height: 495px;
    left: 626px;
    position: absolute;
    top: 374px;
    width: 936px;
  }
  
  .menu-claro-e .rectangle {
    background-color: #d9d9d9;
    border-radius: 31px;
    height: 495px;
    left: 1px;
    position: absolute;
    top: 0;
    width: 935px;
  }
  
  .menu-claro-e .image {
    height: 490px;
    left: 0;
    position: absolute;
    top: 2px;
    width: 637px;
  }
  
  .menu-claro-e .image-2 {
    height: 490px;
    left: 545px;
    position: absolute;
    top: 1px;
    width: 391px;
  }
  
  .menu-claro-e .p {
    color: #AAA;
    font-family: "Roboto-Black", Helvetica;
    border-radius: 25%;
    font-size: 96px;
    font-weight: 900;
    left: 373px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 358px;
    white-space: nowrap;
  }
  .dots {
    top: 500px;
    position: relative;
    flex: end;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.dot {
    width: 20px;
    height: 20px;
    margin: 10px;
    background-color: gray;
    border-radius: 50%;
    cursor: pointer;
}

.active {
    background-color: #F4A261;
}
  
  .menu-claro-e .novo-projeto {
    height: 151px;
    left: 667px;
    position: absolute;
    top: 131px;
    width: 853px;
  }
