.voluntariado-page {
  padding: 5rem;
  background-color: #ffffff;
  min-height: 100vh;
}

.voluntariado-page h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #0d415a;
}

.voluntariado-page .anuncios-grid {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  max-height: 45vh;
  overflow-y: auto;
  padding-right: 0.5rem;
  box-sizing: border-box;
  padding: 1rem;
}

.voluntariado-page .candidaturas-grid {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  max-height: 30vh;
  overflow-y: auto;
  padding-bottom: 1rem;
  width:inherit;
  flex-direction: row;
  justify-content: left;
  border: none;
  background-color: transparent;
  box-shadow: none;
}