.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
    background-color: #083c52;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 0;
    z-index: 1000;
  }
  
  .sidebar-top {
    left: 10px;
    font-size: 30px;
    padding: 1rem;
  }
  
  .menu-item:hover {
    background-color: #c78970;
  }
  
  .icon {
    margin-right: 10px;
    font-size: 30px;
  }

  .sidebar-icon {
    color: #e9c7b5;
    font-size: 45px;
  }
  
  .sidebar-bottom {
    text-align: center;
    padding: 1rem;
  }
  
  .sidebar-logo {
    width: 80%;
  }

  .menu-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .menu-item {
    background-color: #e9c7b5;
    color: #0d415a;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    padding: 0px;
    text-decoration: none;
  }

  .menu-item a {
    color: #083c52;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .link_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: #0d415a;
    text-decoration: none;
    width: 100%;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
  }